.all-projects {
  padding: 20px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.tag-box {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.project-card {
  flex: 1 1 300px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info {
  flex-grow: 1;
}

.project-name a {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.project-description {
  font-size: 14px;
  color: #555;
}

.tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 12px;
}
